.profile {
    background-color: #e7ecf2;
    min-height: 504px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.profileWrapper {
    min-height: 330px;
    min-width: 250px;
    box-shadow: 0 1px 3px rgba(191, 205, 222, 0.75);
}

.description {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 256px;
}

.name {
    color: #122236;
    font-size: 18px;
    font-weight: 700;
}

.tag, .location {
    color: #768696;
}
