.row {
    color: #5c6975;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.45px;
}

.row:nth-child(even) {
    background-color: #ecf2f3;
}

.data {
    color: #5c6975;
    font-size: 15px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0.45px;
    padding: 10px;
    text-align: center;
    border: 2px solid #e0e6e7;
}

.type {
    composes: data;
    text-transform: capitalize;
}

.currency {
    composes: data;
    text-transform: uppercase;
}
